html {
  height: 100%;
}
body {
  min-height: 100%;
  font-family: 'Merriweather Sans', sans-serif;
}

a, a span {
  -webkit-transition: color .3s ease-in-out;
  -moz-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}
a {
  color: #111;
  text-decoration: none;
}
a:hover {
  color: #268bd2;
}

ul, ol {
  padding-left: 25px;
}

code {
  color: #444;
  background-color: #f6f6f6;
}

blockquote {
  font-size: 14px;
}

header {
  background-color: #111;
  color: #111;
  padding: 40px;
}

header h1 {
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 12px;
  margin: 0 0 0 4px;
}

@media (max-width: 767px) {
  header h1 {
    letter-spacing: 5px;
    font-size: 40px;
  }
}

header h1 a {
  color: #eee;
}
header h1 a:hover {
  text-decoration: none;
}
header ul {
  margin: 25px 0 0;
  list-style:none;
  
}
.list-inline>li{display:inline-block;padding-right:10px}

header ul li {
  font-weight: 700;
  color: #888;
}
.current{
    color: #268bd2
}

header ul li p {
    
}
.citation{
    color: #aaa;
    padding-left: 40px;
    font-weight: 500;
}

header ul a {
    color: #888;
}
header ul a span {
  color: #888;
  font-weight: 300;
  padding-right: 2px;
}
header ul a:hover {
    color: #268bd2;
  text-decoration: none;
}

header ul a:hover span {
  color: #0C63b0;
  
}
